/*resetCSS*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  overflow-y: scroll;
  font-family: 'font-family: "Yu Gothic", "YuGothic", sans-serif';
}

html,
body,
h1,
h2,
h3,
h4,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
figure,
input,
textarea,
article {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: bold;
  vertical-align: baseline;
  box-sizing: border-box;
  border-spacing: 0;
}

article,
header,
footer,
aside,
figure,
figcaption,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
  list-style-type: none;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
}

textarea {
  outline: none;
}

header {
  top: 0;
  position: fixed;
  z-index: 3;
  height: 80px;
  width: 100%;
  background-color: #FFFFFF;
  margin: 0 auto;
}
header .header_wrapper {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .header_wrapper .header_logo {
  margin: 0 14px;
  width: 136px;
  height: 27px;
}
header .header_wrapper .navbar-menu {
  font-size: 1.6rem;
  color: #1B224C;
  display: flex;
  justify-content: flex-start;
}
header .header_wrapper .navbar-menu .navbar-item {
  margin: 0 14px;
}
header .header_wrapper .navbar-menu .navbar-btn {
  display: none;
}
header .header_wrapper .business_items {
  margin-right: 23px;
  margin-left: auto;
  display: flex;
  flex-flow: column;
}
header .header_wrapper .business_items .business_time {
  font-size: 1.2rem;
  margin-bottom: 10px;
  margin-left: auto;
  font-weight: 400;
  color: #1B224C;
}
header .header_wrapper .business_items .phone {
  display: flex;
}
header .header_wrapper .business_items .phone .phone_number {
  color: #1B224C;
}
header .header_wrapper .business_items .phone .phone_img {
  height: 14px;
  width: 10px;
  margin: 0 5px;
}
header .header_wrapper .document_btn {
  color: #FFFFFF;
  background-color: #F5A623;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 5px;
  padding-right: 43px;
  padding-left: 43px;
  margin-right: 0;
}
header .header_wrapper .contact_btn {
  color: #FFFFFF;
  background-color: #1B224C;
  padding-top: 18px;
  padding-bottom: 18px;
  border-radius: 5px;
  padding-left: 26px;
  padding-right: 26px;
  margin-left: 10px;
}
header .header_wrapper .hamburger {
  display: none;
  width: 30px;
  height: 20px;
}
header .header_wrapper .hamburger .hamburger_items {
  width: 100%;
  height: 10px;
  background-color: #1B224C;
}

@media screen and (max-width: 1050px) {
  html body header {
    width: 100%;
  }
  html body header .header_wrapper {
    padding: 0 10px;
  }
  html body header .header_wrapper .header_logo {
    margin-right: 10px;
    margin-left: 0;
    width: 115px;
    height: 20px;
  }
  html body header .header_wrapper .navbar-menu {
    color: #1B224C;
    font-size: none;
    display: flex;
    justify-content: flex-start;
  }
  html body header .header_wrapper .navbar-menu .navbar-item {
    margin-right: 5px;
    margin-left: 5px;
  }
  html body header .header_wrapper .business_items {
    margin-right: 10px;
  }
  html body header .header_wrapper .business_items .phone .phone_img {
    height: 12px;
    width: 8px;
    margin: 0 3px;
    margin-bottom: 2px;
  }
  html body header .header_wrapper .document_btn {
    padding: 18px 25px;
  }
  html body header .header_wrapper .contact_btn {
    padding: 18px 25px;
    margin-right: 0;
  }
}
@media screen and (max-width: 900px) {
  html body header {
    width: 100%;
    max-width: 100%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
  }
  html body header .header_wrapper {
    height: 100%;
    padding: 0 20px;
  }
  html body header .header_wrapper .header_logo {
    margin-right: 10px;
    margin-left: 0;
    width: 100px;
    height: 20px;
  }
  html body header .header_wrapper .navbar-menu {
    color: #1B224C;
    font-size: none;
    display: flex;
    justify-content: flex-start;
  }
  html body header .header_wrapper .navbar-menu .navbar-item {
    margin: 0 5px;
  }
  html body header .header_wrapper .business_items {
    margin-right: 5px;
  }
  html body header .header_wrapper .business_items .phone .business_time {
    font-size: 0.8rem;
  }
  html body header .header_wrapper .business_items .phone .phone_img {
    height: 12px;
    width: 8px;
    margin: 0 3px;
    margin-bottom: 3px;
  }
  html body header .header_wrapper .business_items .phone .phone_number {
    font-size: 1.4rem;
  }
  html body header .header_wrapper .document_btn {
    padding: 14px 15px;
    font-size: 1.4rem;
  }
  html body header .header_wrapper .contact_btn {
    padding: 14px 15px;
    font-size: 1.4rem;
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  html body header .header_wrapper {
    padding: 0 30px;
  }
  html body header .header_wrapper .navbar-menu {
    position: fixed;
    width: 100%;
    padding-bottom: 50px;
    left: 0;
    top: -150%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    transition: 0.5s;
    display: flex;
    flex-flow: column;
  }
  html body header .header_wrapper .navbar-menu.active {
    top: 60px;
    z-index: 4;
    transition: 0.5s;
    left: 0;
    justify-content: end;
  }
  html body header .header_wrapper .navbar-menu .navbar-item {
    width: 90%;
    height: 7vh;
    background-color: #1B224C;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
  }
  html body header .header_wrapper .navbar-menu .navbar-item .navbar-link {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  html body header .header_wrapper .navbar-menu .navbar-btn {
    width: 90%;
    height: 7vh;
    border: solid 4px #FFFFFF;
    color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  html body header .header_wrapper .navbar-menu .navbar-btn .hamburger_btn {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #1B224C;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  html body header .header_wrapper .navbar-menu .navbar-btn .hamburger_btn_2 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #F5A623;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  html body header .header_wrapper .business_items {
    display: flex;
    align-items: center;
  }
  html body header .header_wrapper .document_btn {
    display: none;
  }
  html body header .header_wrapper .contact_btn {
    display: none;
  }
  html body header .header_wrapper .hamburger {
    z-index: 5;
    margin-left: 20px;
    cursor: pointer;
    align-items: center;
    display: flex;
    position: relative;
  }
  html body header .header_wrapper .hamburger .hamburger_items {
    display: inline-block;
    background-color: #1B224C;
    width: 100%;
    height: 3px;
    transition: 0.6s;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(1).active {
    transform: translateY(10px) rotate(405deg);
    transition: 0.6s;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 0;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(2).active {
    opacity: 0;
    transition: 0.4s;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(3) {
    position: absolute;
    top: 100%;
    left: 0;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(3).active {
    transform: translateY(-10px) rotate(-405deg);
    transition: 0.6s;
  }
}
@media screen and (max-width: 390px) {
  html body header .header_wrapper {
    padding: 0 20px;
  }
  html body header .header_wrapper .navbar-menu {
    position: fixed;
    width: 100%;
    padding-bottom: 50px;
    left: 0;
    top: -150%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 auto;
    transition: 0.5s;
    display: flex;
    flex-flow: column;
  }
  html body header .header_wrapper .navbar-menu.active {
    top: 60px;
    z-index: 4;
    transition: 0.5s;
    left: 0;
    justify-content: end;
  }
  html body header .header_wrapper .navbar-menu .navbar-item {
    width: 90%;
    height: 7vh;
    background-color: #1B224C;
    border: solid 2px #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
  }
  html body header .header_wrapper .navbar-menu .navbar-item .navbar-link {
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  html body header .header_wrapper .navbar-menu .navbar-btn {
    width: 90%;
    height: 7vh;
    border: solid 4px #FFFFFF;
    color: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    font-size: 2rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  html body header .header_wrapper .navbar-menu .navbar-btn .hamburger_btn {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #1B224C;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  html body header .header_wrapper .navbar-menu .navbar-btn .hamburger_btn_2 {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: #F5A623;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  html body header .header_wrapper .business_items {
    display: flex;
    align-items: center;
  }
  html body header .header_wrapper .document_btn {
    display: none;
  }
  html body header .header_wrapper .contact_btn {
    display: none;
  }
  html body header .header_wrapper .hamburger {
    width: 25px;
    height: 20px;
    z-index: 5;
    margin-left: 20px;
    cursor: pointer;
    align-items: center;
    display: flex;
    position: relative;
  }
  html body header .header_wrapper .hamburger .hamburger_items {
    display: inline-block;
    background-color: #1B224C;
    width: 100%;
    height: 3px;
    transition: 0.6s;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(1) {
    position: absolute;
    top: 0;
    left: 0;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(1).active {
    transform: translateY(10px) rotate(405deg);
    transition: 0.6s;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(2) {
    position: absolute;
    top: 50%;
    left: 0;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(2).active {
    opacity: 0;
    transition: 0.4s;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(3) {
    position: absolute;
    top: 100%;
    left: 0;
  }
  html body header .header_wrapper .hamburger .hamburger_items:nth-of-type(3).active {
    transform: translateY(-10px) rotate(-405deg);
    transition: 0.6s;
  }
}
footer .footer_wrapper {
  margin: 0 auto;
  text-align: center;
}
footer .footer_wrapper .contact {
  height: 254px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../image/cta@2x.png");
  margin: 0 auto;
  text-align: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}
footer .footer_wrapper .contact .sub_section_title {
  padding-top: 70px;
  padding-bottom: 16px;
  color: #FFFFFF;
  font-size: 3.2rem;
}
footer .footer_wrapper .contact .document_btn {
  padding: 17px 108px;
  background-color: #F5A623;
  color: #FFFFFF;
  border-radius: 25px;
}
footer .footer_wrapper .contact .contact_btn {
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 22px;
  text-decoration: underline;
}
footer .footer_wrapper .phone_contact {
  height: 80px;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer .footer_wrapper .phone_contact .call_to_action {
  color: #1B224C;
}
footer .footer_wrapper .phone_contact .phone_number {
  font-size: 3.6rem;
  color: #1B224C;
  margin: 0 20px;
}
footer .footer_wrapper .phone_contact .business_items {
  font-weight: 400;
  width: 240px;
  display: flex;
  justify-content: start;
}
footer .footer_wrapper .footer_bottom {
  background-color: #1B224C;
  height: 230px;
}
footer .footer_wrapper .footer_bottom .footer_inner {
  height: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_nav {
  display: flex;
  margin-top: 45.5px;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_nav .footer_list {
  height: 23px;
  border-right: solid 1px #FFFFFF;
  list-style: none;
  padding: 0 21.5px;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_nav .footer_list .footer_nav_items {
  display: block;
  padding-top: 3.5px;
  color: #FFFFFF;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_nav :last-child {
  border: none;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_logo {
  display: inline-block;
  margin-top: 35px;
  background-color: #FFFFFF;
  color: #FFFFFF;
  padding: 14px 19px;
  margin-bottom: 27px;
  width: auto;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_logo img {
  display: block;
  width: 159px;
  height: 31px;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_items {
  text-align: right;
  margin-right: 0;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_items .footer_phone {
  text-align: right;
  display: flex;
  justify-content: end;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_items .footer_phone .footer_phone_img {
  display: block;
  width: 10px;
  height: 14.7px;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_items .footer_phone .phone_number {
  color: #FFFFFF;
  font-size: 1.6rem;
  margin-bottom: 13px;
  margin-left: 7px;
}
footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_items .footer_time {
  font-weight: 400;
  font-size: 1.2rem;
  color: #FFFFFF;
}
footer .footer_wrapper .footer_copy {
  height: 36px;
}
footer .footer_wrapper .footer_copy .footer_copy_wrapper {
  max-width: 900px;
  height: 100%;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: end;
}
footer .footer_wrapper .footer_copy .footer_copy_wrapper .copy_text {
  display: inline;
  background-color: #FFFFFF;
  font-size: 1.2rem;
  color: #1B224C;
}

@media screen and (max-width: 900px) {
  footer .footer_wrapper .contact .sub_section_title {
    font-size: 3rem;
  }
  footer .footer_wrapper .phone_contact .call_to_action {
    width: 220px;
    display: flex;
    justify-content: end;
  }
  footer .footer_wrapper .phone_contact .phone_number {
    font-size: 3rem;
  }
  footer .footer_wrapper .phone_contact .business_items {
    width: 220px;
    display: flex;
    justify-content: start;
  }
  footer .footer_wrapper .footer_bottom .footer_inner {
    width: 90%;
  }
  footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_logo {
    padding: 12px 16px;
  }
  footer .footer_wrapper .footer_copy .footer_copy_wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  footer .footer_wrapper .contact .sub_section_title {
    font-size: 3rem;
    padding-bottom: 30px;
  }
  footer .footer_wrapper .contact .document_btn {
    padding-right: 40%;
    padding-left: 40%;
    font-size: 2rem;
  }
  footer .footer_wrapper .phone_contact {
    height: 140px;
    display: flex;
    flex-flow: column;
  }
  footer .footer_wrapper .phone_contact .call_to_action {
    width: auto;
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
  }
  footer .footer_wrapper .phone_contact .phone_number {
    padding: 20px 0;
  }
  footer .footer_wrapper .phone_contact .business_items {
    font-size: 1.8rem;
    display: flex;
    justify-content: center;
  }
  footer .footer_wrapper .footer_bottom .footer_inner .footer_nav {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
  }
  footer .footer_wrapper .footer_bottom .footer_inner .footer_nav .footer_list {
    border-right: none;
    border-bottom: solid 1px #FFFFFF;
    padding: 20px 0;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  footer .footer_wrapper .footer_bottom .footer_inner .footer_nav .footer_list:last-child {
    border: none;
  }
  footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_logo {
    padding: 8px 10px;
  }
  footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_logo img {
    width: 135px;
    height: 30px;
  }
}
@media screen and (max-width: 390px) {
  footer .footer_wrapper .footer_bottom .footer_inner .footer_items_container .footer_logo img {
    width: 120px;
    height: 25px;
  }
}
.fv {
  margin-top: 80px;
  height: 221px;
  background-image: url("../image/cta@2x.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fv .section_title {
  font-size: 3.2rem;
  color: #ffffff;
}

.breadcrumb {
  height: 50px;
  background-color: #F8F8F8;
}
.breadcrumb .breadcrumb_wrapper {
  margin: 0 auto;
  height: 100%;
  max-width: 900px;
  display: flex;
  justify-content: start;
  align-items: center;
}
.breadcrumb .breadcrumb_wrapper .breadcrumb_link {
  text-decoration: underline;
  font-size: 1.2rem;
  font-weight: normal;
  color: #1B224C;
  margin-right: 6px;
}
.breadcrumb .breadcrumb_wrapper .breadcrumb_span, .breadcrumb .breadcrumb_wrapper .breadcrumb_items {
  font-size: 1.2rem;
  font-weight: normal;
  color: #1B224C;
  margin-right: 6px;
}
.contact {
  margin: 0 auto;
  margin-top: 58px;
  margin-bottom: 82px;
}
.contact .contact_wrapper {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  flex-flow: column;
}
.contact .contact_wrapper .contact_text {
  color: #1B224C;
  font-weight: normal;
  line-height: 1.6875;
  font-size: 1.6rem;
}
.contact .contact_wrapper .contact_form {
  width: 100%;
  display: flex;
  flex-flow: column;
}
.contact .contact_wrapper .contact_form .input_label {
  color: #1B224C;
  margin-bottom: 12px;
  font-weight: normal;
}
.contact .contact_wrapper .contact_form .input_label:first-child {
  margin-top: 41px;
}
.contact .contact_wrapper .contact_form .input_text {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  padding-left: 20px;
  border: solid 0.5px #1B224C;
  font-weight: normal;
  font-size: 1.6rem;
}
.contact .contact_wrapper .contact_form .input_message {
  height: 240px;
  width: 100%;
  border: solid 0.5px #1B224C;
  padding: 22px;
  font-weight: normal;
  font-size: 1.6rem;
}
.contact .contact_wrapper .contact_form .contact_label {
  color: #1B224C;
  margin-top: 4px;
  margin-bottom: 19px;
  font-weight: normal;
}
.contact .contact_wrapper .contact_form .contact_list {
  height: 20px;
  margin-bottom: 14px;
  align-items: center;
  display: flex;
}
.contact .contact_wrapper .contact_form .contact_list .contact_radio {
  height: 20px;
  width: 20px;
  border: solid 1px #707070;
  margin-right: 19px;
  display: flex;
  justify-content: left;
}
.contact .contact_wrapper .contact_form .contact_list .contact_text {
  font-weight: normal;
  color: #1B224C;
}
.contact .contact_wrapper .contact_form .contact_label {
  color: #1B224C;
  margin-top: 10px;
  margin-bottom: 12px;
  font-weight: normal;
}
.contact .contact_wrapper .contact_form .privacy_text {
  margin-top: 30px;
  margin-bottom: 31px;
  text-align: center;
  font-weight: normal;
  color: #1B224C;
}
.contact .contact_wrapper .contact_form .privacy_text .privacy_span {
  color: #F5A623;
  font-weight: normal;
  text-decoration: underline;
}
.contact .contact_wrapper .contact_form .privacy_check {
  height: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.contact .contact_wrapper .contact_form .privacy_check .privacy_check_box {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-right: 15px;
}
.contact .contact_wrapper .contact_form .privacy_check .privacy_check_box .input_check {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.contact .contact_wrapper .contact_form .privacy_check .privacy_consent_text {
  font-weight: normal;
  color: #1B224C;
}
.contact .contact_wrapper .contact_form .contact_button {
  font-size: 1.6rem;
  margin: 0 auto;
  margin-top: 48px;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  background-color: #1B224C;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  html {
    font-size: 55%;
  }
  html body .fv {
    margin-top: 60px;
  }
  html body .breadcrumb {
    padding: 0 20px;
  }
  html body .contact {
    width: 90%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  html body .fv {
    height: 190px;
  }
  html body .contact .contact_wrapper .contact_form .contact_label {
    line-height: 1.5;
  }
  html body .contact .contact_wrapper .contact_form .contact_button {
    width: 90%;
  }
}
@media screen and (max-width: 390px) {
  html {
    font-size: 40%;
  }
  html body .fv {
    height: 150px;
  }
}
